<a href="https://colab.research.google.com/github/JessicaGreen22/food-sales-location-predictions/blob/main/Dating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tinder Dating Match

Do more people meet on Dating app like Tinder
Classification

Jessica Green

In [11]:
filename = '/content/Tinder Millennial Match Rate Dataset.csv'

In [12]:
#imports needed to determine
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyRegressor
from sklearn import set_config
set_config(display='diagram')
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('/content/Tinder Millennial Match Rate Dataset.csv')
df.head()

,Question,Segment Type,Segment Description,Answer,Count,Percentage
0,Have you ever met up with someone off tinder?,Mobile,Mobile respondents,Yes,797,0.207
1,Have you ever met up with someone off tinder?,Mobile,Mobile respondents,No,1969,0.511
2,Have you ever met up with someone off tinder?,Mobile,Mobile respondents,I don't use Tinder,1090,0.283
3,Have you ever met up with someone off tinder?,Web,Web-based respondents,Yes,0,0.000
4,Have you ever met up with someone off tinder?,Web,Web-based respondents,No,0,0.000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453 entries, 0 to 452
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Question             453 non-null    object
 1   Segment Type         453 non-null    object
 2   Segment Description  453 non-null    object
 3   Answer               453 non-null    object
 4   Count                453 non-null    int64
 5   Percentage           453 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 21.4+ KB

In [15]:
df.isna().sum()

Question               0
Segment Type           0
Segment Description    0
Answer                 0
Count                  0
Percentage             0
dtype: int64

In [16]:
df.duplicated().sum()

0