<a href="https://colab.research.google.com/github/JessicaGreen22/food-sales-location-predictions/blob/main/HumanTrafficking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Human Trafficking in US comparison of race as an adult or juvenile in eacg state.

In [5]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn import set_config
set_config(display='diagram')
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [6]:
#Load data
path = '/content/Human_Trafficking_Arrests_by_Race_by_State_2020[1].csv'
df = pd.read_csv('/content/Human_Trafficking_Arrests_by_Race_by_State_2020[1].csv')
df.head()

,State,Offense,White-J,Black or African American-J,American Indian or Alaska Native-J,Asian-J,Native Hawaiian or Other Pacific Islander-J,Juvenile Total,White-A,Black or African American-A,American Indian or Alaska Native-A,Asian-A,Native Hawaiian or Other Pacific Islander-A,Adult Total-A,Male-J,Female-J,Male-A,Female-A
0,Arizona-A,Commercial sex acts,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0
1,Arizona-B,Involuntary servitude,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Colorado-A,Commercial sex acts,0,0,0,0,0,0,3,2,0,0,0,5,0,0,4,1
3,Colorado-B,Involuntary servitude,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Connecticut-A,Commercial sex acts,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 18 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   State                                        62 non-null     object
 1   Offense                                      62 non-null     object
 2   White-J                                      62 non-null     int64
 3   Black or African American-J                  62 non-null     int64
 4   American Indian or Alaska Native-J           62 non-null     int64
 5   Asian-J                                      62 non-null     int64
 6   Native Hawaiian or Other Pacific Islander-J  62 non-null     int64
 7   Juvenile Total                               62 non-null     int64
 8   White-A                                      62 non-null     int64
 9   Black or African American-A                  62 non-null     int64
 10  American Indian or Alaska Native-A           62 non-null     int64
 11  Asian-A                                      62 non-null     int64
 12  Native Hawaiian or Other Pacific Islander-A  62 non-null     int64
 13  Adult Total-A                                62 non-null     int64
 14  Male-J                                       62 non-null     int64
 15  Female-J                                     62 non-null     int64
 16  Male-A                                       62 non-null     int64
 17  Female-A                                     62 non-null     int64
dtypes: int64(16), object(2)
memory usage: 8.8+ KB

In [8]:
df.isna()

,State,Offense,White-J,Black or African American-J,American Indian or Alaska Native-J,Asian-J,Native Hawaiian or Other Pacific Islander-J,Juvenile Total,White-A,Black or African American-A,American Indian or Alaska Native-A,Asian-A,Native Hawaiian or Other Pacific Islander-A,Adult Total-A,Male-J,Female-J,Male-A,Female-A
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
58,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
59,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False